$colorBlue: #3C6EAA;
$colorGrayBlue: #3E5776;

$borderRadiusLarge: 20px;
$borderRadiusMedium: 15px;
$borderRadiusSmall: 6px;

$safeAreaTop: env(safe-area-inset-top);
$safeAreaRight: env(safe-area-inset-right);
$safeAreaBottom: env(safe-area-inset-bottom);
$safeAreaLeft: env(safe-area-inset-left);